<div *ngIf="room">

  <h2>{{room.name | uppercase}}</h2>
  <h3>Booking details:</h3>
  <div>
    <label>Your name:
      <input #name /><br><br>
    </label>
    StartDate(yyyy-mm-dd):
    <label>
      <input type="date" #startDate /><br><br>
    </label>
    EndDate(yyyy-mm-dd):
    <label>
      <input type="date" #endDate /><br><br>
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addBooking(name.value, startDate.value, endDate.value)
    ; name.value=''; startDate.value = ''; endDate.value = ''">
      Book!
    </button>
  </div>
  <img src="/assets/pictures/test_room_{{room.id}}.jpg" alt="Picture of the room">
</div>
