@import url("https://fonts.googleapis.com/css?family=David+Libre");

h1, h2, b{
  font-family: 'David Libre', sans-serif;
  text-align: center;
  color: #0b2852;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #0b2852;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.footer{
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0;
  background: #ddd;

}

img {
  margin: 10px;
  margin-left: 40px;
}
