
<div class="footer">
  <div class="row">
    <div class="column">
      <h2><b>Hotel Trivago</b></h2>
      <p>Soola 6, Tartu 51004, Estonia</p>
      <p>Phone: +372 733 9999,
        Fax: +372 733 9998</p>
      <p>E-mail: <a href="info@trivago.ee">info@trivago.ee</a></p>
    </div>

    <div class="column">
        <img src="/assets/pictures/logo.png" >
    </div>


    <div class="column">
      <h2><b>Convention Centre</b></h2>
      <p>Turu 2, TASKU, Tartu 51004
        (Entrance from Soola-Turu crossroad)   </p>
      <p>Phone: +372 733 7888,
        Fax: +372 733 7886</p>
      <p>E-mail: <a href="confrence@trivago.ee">confrence@trivago.ee</a></p>
    </div>
  </div>
</div>
