

<body>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2 style="color:#0b2852;"><b>Welcome!</b></h2>
      <p class="welcome-text">The 3-star superior Hotel Trivago is located in the center of Tartu, in the Emajõgi business district.
        In the immediate vicinity of the hotel are the attractions of Tartu - Aura Water Center and Ahhaa Science Center. </p>
      <p class="welcome-text">Modern design, professional service and an attractive location make Trivago the most
        desired destination for both near and far guests.</p>
      <p class="welcome-text">Tartu's largest hotel with 205 rooms, a spacious <i class="welcome-text">a la carte</i> restaurant and the
        largest conference center in Southern Estonia equipped with modern technology.</p>
      <p class="welcome-text">The Old Town, the Vanemuine Theater, the Concert Hall,  University of Tartu and shopping
        centers are only a few steps away from the hotel. Many rooms offer views of the city and the Emajõgi River,
        the view is breathtaking.</p>
      <h5>Hotel Trivago</h5>
    </div>
  </div>
  <div class="rightcolumn">
    <div>
          <div class="pictures">
            <div id="slider">
              <figure>
                <img src="/assets/pictures/one.jpg" class="image">
                <img src="/assets/pictures/two.jpg" class="image">
                <img src="/assets/pictures/three.jpg" class="image">
              </figure>
            </div>
          </div>
    </div>

  </div>
</div>

<div class="footer">
  <img src="/assets/pictures/logo.png" height="100px" width="120px" >
</div>


</body>


<!--<body>-->

<!--<div class="row">-->
<!--  <div class="left-column">-->
<!--    <div class="pictures">-->
<!--      <div id="slider">-->
<!--        <figure>-->
<!--          <img src="/assets/pictures/one.jpg" class="image">-->
<!--          <img src="/assets/pictures/two.jpg" class="image">-->
<!--          <img src="/assets/pictures/three.jpg" class="image">-->
<!--        </figure>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="right-column">-->
<!--    <div class="card">-->
<!--      <p>Some text..</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
