@import url("https://fonts.googleapis.com/css?family=Secular+One");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b2852;
}

li {

  padding-right: 20px;
  float: right;
}

li a {
  font-family: 'Secular One', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.title {
  float: left;
  background-color: darkred;
}


.title a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}
