/* Application-wide Styles */
@import url("https://fonts.googleapis.com/css?family=David+Libre");


h1, h2 {
  font-family: 'David Libre', sans-serif;
  padding: 20px;
  text-align: center;
  color: #0b2852;
}

body {
  margin: 0;
}
body, input[type="text"], button {
  color: #333333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
