/* Application-wide Styles */
@import url("https://fonts.googleapis.com/css?family=David+Libre");


h1, h2 {
  font-family: 'David Libre', sans-serif;
  padding: 20px;
  text-align: center;
  color: #0b2852;
}

body {
  margin: 0;
}

body, input[type="text"], button {
  color: #333333;
  font-family: Cambria, Georgia;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 300%;
  margin: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 33.33%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}
* {
  box-sizing: border-box;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #0b2852;
}
