<nav>
  <ul>
    <li class="title">
      <a routerLink="/home">Hotel Trivago</a>
    </li>
    <li *ngIf="!userLogged">
      <a routerLink="/login">Login</a>
    </li>
    <li *ngIf="userLogged">
      <a routerLink="/user">Account</a>
    </li>
    <li *ngIf="user.role === 'ADMIN'">
      <a routerLink="/search">Search</a>
    </li>
    <li>
      <a routerLink="/booking">Booking</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li>
      <a routerLink="/rooms">Rooms</a>
    </li>
    <li>
      <a routerLink="/home">Home</a>
    </li>
  </ul>
</nav>
