<h3>Booking details:</h3>
<div>
  <form>
    <label for="rooms">Choose a room:</label>
    <select id="rooms" name="rooms" #roomId>
      <option value="1">Standard Single</option>
      <option value="2">Standard Double</option>
      <option value="3">Deluxe</option>
    </select><br><br>
  </form>
  StartDate:
  <label>
    <input type="date" #startDate /><br><br>
  </label>
  EndDate:
  <label>
    <input type="date" #endDate /><br><br>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="sendAvailabilityData(roomId.value, startDate.value, endDate.value)">
    Check Availability!
  </button>
  <h2>{{room.amount}} {{room.name}} available rooms</h2>
</div>

<div *ngIf="isItReadyForBooking()">
  Enter your name:
  <label>
    <input #name /><br><br>
  </label>
  Enter your payment information:
  <label>
    <input #payment /><br><br>
  </label>
  <button (click)="addBooking(name.value, startDate.value, endDate.value, payment.value, roomId.value)">
    Book!
  </button>
</div>

<div *ngIf="!isItReadyForBooking()">
  Something went wrong!
</div>
