<h3>Booking details:</h3>

<form [formGroup]="roomsForm">
  Select Room:
  <select formControlName="roomControl" #theRoom>
    <option [ngValue]="null" disabled>Select Room</option>
    <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}}
    </option>
  </select>
</form>
<br>
Start Date:
<label>
  <input type="date" value="{{currentDate  | date:'yyyy-MM-dd'}}" min="{{currentDate  | date:'yyyy-MM-dd'}}" #startDate />
  <br><br>
</label>
End Date:
<label>
  <input type="date" value="{{startDate.value}}" min="{{startDate.value}}" #endDate />
  <br><br>
</label>
<!-- (click) passes input value to add() and then clears the input -->
<button (click)="getAvailabilityDateData(theRoom.value, startDate.value, endDate.value)">
  Check Availability!
</button>
<br>

<div *ngIf="selectedRoom != null">
  <h2>{{selectedRoom.amount}} {{selectedRoom.name}} available rooms</h2>
  <div *ngIf="selectedRoom.amount > 0">
    Enter your name:
    <label>
      <input #name /><br><br>
    </label>
    Enter your payment information:
    <label>
      <input #payment /><br><br>
    </label>
    <button (click)="addBooking(name.value, startDate.value, endDate.value, payment.value, selectedRoom)">
      Book!
    </button>
    <div *ngIf="isBooked">
      Your room is booked!
      Details:<br>
      ID to seach by: {{currentBooking.id}}<br>
      Booker name: {{currentBooking.name}}<br>
      Visit: {{currentBooking.startDate}}-{{currentBooking.endDate}}<br>
      Payment information: {{currentBooking.paymentInfo}}<br>
      Room: {{currentBooking.room.name}}
    </div>
  </div>
  <div *ngIf="selectedRoom.amount == 0">
    No available rooms.
  </div>
</div>

<div *ngIf="selectedRoom == null">
  Please fill out correct information
</div>
