<div *ngIf="room" class="container">

  <div class="pictures">
    <div id="slider">
      <figure>
        <img src="/assets/pictures/room_pic_{{room.id}}.jpg" class="image">
        <img src="/assets/pictures/room_details/room_detail_{{room.id}}_1.jpg" class="image">
        <img src="/assets/pictures/room_details/room_detail_{{room.id}}_2.jpg" class="image">
      </figure>
    </div>
  </div>

  <h2><b>{{room.name}}</b></h2>

  <div class="text">
    {{room.descryption}}
  </div>


    <h2 style="color: darkred">Price: {{room.cost}}€ per night</h2>
  <div *ngIf="userLogged && user.role === 'ADMIN'" class="pictures" style="width: 195px">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(room.id, checkoutForm.value)">
      <input id="price"  style="width: 187px" type="number" formControlName="price">
    <button class="button" style="width: 187px" type="submit">Change price</button>
    </form>
  </div>

  <h2><b>Other information</b></h2>
  <ul>
    <li>♦ Check in from 15.00, check out till 12.00</li>
    <li>♦ Rich buffet breakfast is served in the restaurant Mon.-Fri. 7.00 – 10.00 Sat, Sun 7.00 -11.00.</li>
    <li>♦ Free parking in hotels parking area or in Tasku parking lot – please ask for the parking ticket at the hotel reception upon arrival.</li>
    <li>♦ Until 24:00 free entrance to Shooters nightclub.</li>
    <li>♦ Use of the fitness room.</li>
  </ul>

</div>
