<body>
  <h1>LOCATION</h1>
  <p>Hotel Trivago is located in the center of Tartu, in the Emajõgi business district.
    In the immediate vicinity of the hotel are the attractions of Tartu - Aura Water Center and Ahhaa Science Center.
    The Old Town, the Vanemuine Theater, the Concert Hall,  University of Tartu and shopping
    centers are only a few steps away from the hotel.</p>
  <img src="/assets/pictures/map.png" class="image">

  <div class="row">
    <div class="column">
      <h2><b>Hotel Trivago</b></h2>
      <p>Soola 6, Tartu 51004, Estonia</p>
      <p>Phone: +372 733 9999,
        Fax: +372 733 9998</p>
      <p>E-mail: <a href="info@trivago.ee">info@trivago.ee</a></p>
    </div>

    <div class="column">
      <h2><b>Convention Centre</b></h2>
      <p>Turu 2, TASKU, Tartu 51004
        (Entrance from Soola-Turu crossroad)   </p>
      <p>Phone: +372 733 7888,
        Fax: +372 733 7886</p>
      <p>E-mail: <a href="confrence@trivago.ee">confrence@trivago.ee</a></p>
    </div>

    <div class="column">
      <h2><b>Trivago OÜ</b></h2>
      <p><b>Bank account:</b>
        IBANEE982200221036942000
        SWIFT HABAEE2X </p>
      <p><b>VAT:</b>EE101133748</p>
    </div>
  </div>


</body>
