@import url("https://fonts.googleapis.com/css?family=David+Libre");

h1 {
  font-family: 'David Libre', sans-serif;
  margin: 20px;
  text-align: center;
  color: #0b2852;
}

.rooms {
  text-align: center;
  margin: 10px;
  list-style-type: none;
  padding: 10px;
  width: 100%;
}
.rooms li {
  width: 55%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: solid 3px #0b2852;
  margin: 10px;
  padding: 3px 0;
  height: 500px;
}

.rooms li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.rooms a {
  text-decoration: none;
}

.rooms h2, p, b {
  text-align: center;
  font-family: 'David Libre', sans-serif;
  color: #0b2852;
  padding: 5px;
}

.rooms .image {
  border: solid 3px darkred;
  height: 83%;
  width: 90%;
}



