<h1>BOOKING DETAILS</h1>
<div *ngIf="userLogged">

  <div class="input_container">
    <h3>Select Room:</h3>
    <form [formGroup]="roomsForm" novalidate>
      <label>
        <select #theRoom>
          <option [ngValue]="null" [disabled]="true">Select Room</option>
          <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}} ({{room.cost}}€)
          </option>
        </select>
      </label>
    </form>
    <br>
  </div>

  <div class="input_container">
    <h3>Start Date:</h3>
    <label>
      <input type="date" value="{{currentDate  | date:'yyyy-MM-dd'}}" min="{{currentDate  | date:'yyyy-MM-dd'}}" #startDate />
      <br><br>
    </label>
  </div>

  <div class="input_container">
    <h3>End Date:</h3>
    <label>
      <input type="date" value="{{startDate.value}}" min="{{startDate.value}}" #endDate />
      <br><br>
    </label>
  </div>

  <div class="input_container">
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="getAvailabilityDateData(theRoom.value, startDate.value, endDate.value)">
      Check Availability!
    </button>
    <br>
  </div>

  <div class="input_container">
    <div *ngIf="selectedRoom != null && endDate.value != startDate.value">
      <h2>{{selectedRoom.amount}} {{selectedRoom.name}} available rooms</h2>
      <div *ngIf="selectedRoom.amount > 0">
<!--        <p>Enter your name:</p>-->
<!--        <label>-->
<!--          <input #name /><br><br>-->
<!--        </label>-->
        <p>Enter your payment information:</p>
        <select #payment>
          <option [ngValue]="null" [disabled]="true">Select Payement</option>
          <option value="Mastercard">Mastercard</option>
          <option value="VISA">VISA</option>
          <option value="BitCoin">BitCoin</option>
          <option value="Cash">Cash</option>
        </select><br>
        <button (click)="addBooking(user.username, startDate.value, endDate.value, payment.value, selectedRoom)">
          Book!
        </button>
        <div *ngIf="isBooked">
          <div class="booking_information">
            <p>
              <b>Your room is booked!</b><br>
              Details:<br>
              Booking ID: {{currentBooking.id}}<br>
              Booker name: {{user.username}}<br>
              Visit: {{startDate.value}} to {{endDate.value}}<br>
              Payment information: {{payment.value}}<br>
              Room: {{selectedRoom.name}}<br>
              Cost: {{selectedRoom.cost}}€
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="selectedRoom.amount == 0">
        No available rooms.
      </div>
    </div>
  </div>

  <div *ngIf="selectedRoom == null" class="correct_information">
    Please fill out correct information!
  </div>

</div>

<div *ngIf="!userLogged">
  <h3>
    Please login to book a room!
  </h3>
  <br>
</div>


