<h2>Search by ID or enter the range of Dates:</h2>
<label>
  <input type="number" ngModel="number" #bookingId />
  <input type="date" placeholder="from" #startDate />
  <input type="date" placeholder="to" #endDate />
</label><br><br>
<div *ngIf="bookingId.value">
  <button (click)="getBookingById(bookingId.value)">
    Search!
  </button>
</div>
<div *ngIf="!bookingId.value">
  <button (click)="getBookingsByDate(startDate.value, endDate.value)">
    Search!
  </button>
</div>



<div *ngIf="selectedBooking">
  <h2>Booking ID: {{selectedBooking.id}}</h2>
  <div>Date: {{selectedBooking.startDate}} to {{selectedBooking.endDate}}</div>
  <div>Name: {{selectedBooking.name}}</div>
  <div>Payment information: {{selectedBooking.paymentInfo}}</div>
</div>
<ul class="bookings">
  <li *ngFor="let booking of bookings"
      [class.selected]="booking === selectedBooking"
      (click)="onSelect(booking)">
    <span class="badge">{{booking.id}}</span> {{booking.startDate}} to {{booking.endDate}}
  </li>
</ul>




