<div>
  <h2>Enter the bookings ID:</h2>
  <label>
    <input #bookingId /><br><br>
  </label>
  <button (click)="getBookingById(bookingId.value)">
    Search!
  </button>
</div>


<div>
  <h2>Booking ID: {{selectedBooking.id}}</h2>
  <div>Date: {{selectedBooking.startDate}} to {{selectedBooking.endDate}}</div>
  <div>Name: {{selectedBooking.name}}</div>
  <div>Payment information: {{selectedBooking.paymentInfo}}</div>
</div>

<ul class="booking">
  <li *ngFor="let booking of bookings"
      [class.selected]="booking === selectedBooking"
      (click)="onSelect(booking)">
    <span class="badge">{{booking.id}}</span> {{booking.name}}
  </li>
</ul>
